@model GIFT_SHOP.Models.Stau

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>ยืนยันการลบข้อมูล</h3>
<div>
    <h4>ระบบจัดการสถานะการชำระเงิน</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staus_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staus_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ลบข้อมูล" class="btn btn-default" /> |
            @Html.ActionLink("ย้อนกลับ", "Index")
        </div>
    }
</div>
