@model GIFT_SHOP.Models.Stau

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ระบบจัดการสถานะการชำระเงิน</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staus_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staus_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("แก้ไข", "Edit", new { id = Model.Staus_ID }) |
    @Html.ActionLink("ย้อนกลับ", "Index")
</p>
