@{
    ViewBag.Title = "Report Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <center>
        <h1>
            สวัสดี @Session["User_Name"] @Session["User_Lastname"] 
        </h1>
    </center>